In [ ]:
#uppfit 1

frukter = ["jordgubbe", "vindruva", "grape"]  # skapa en list med tre strängar
godfrukt = frukter[2] # hämta item från listan med index[2] alltså tredje item(grape)
print(godfrukt[-1]) # skriv ut sista tecken av grape då fick vi e

e

In [7]:
#uppgift 2
import math

def volymen(radie, höjd):
    try:
        radie= float(radie)
        höjd= float (höjd)
        return math.pi*radie*radie**2*höjd
    except ValueError as e:
        return f"Fel,{e}"  
radie= input(" ange radie ")   
höjd= input("ange höjd")  
Cylinder_volymn= volymen(radie, höjd)
Cylinder_volymn

"Fel,could not convert string to float: 'kj'"

In [ ]:
"""
 Simulera 1000000 tärningskast och beräkna antalet ettor, tvåor, treor, fyror, femmor och sexor. Spara
 resultatet i en lämplig datastruktur
"""

import random as ran
resultat=[]
dice=[ (ran.randint(1,6)) for x in range(1000000)]
for x in range(1,7):
    resultat.append(dice.count(x))
print("resultat är:" , resultat)

resultat är: [166882, 166309, 167002, 167020, 166664, 166123]

In [ ]:
import random as ran
resultat = {i: 0 for i in range(1, 7)}  # Skapar en tom ordbok med nycklar 1–6
for _ in range(1_000_000):
    kast = ran.randint(1, 6)
    resultat[kast] += 1

print("Resultatet är:", resultat)

Resultatet är: {1: 166459, 2: 166514, 3: 166378, 4: 167134, 5: 166645, 6: 166870}

In [21]:
"""
 Skapa en funktion som tar in ett heltal n som parameter och skriver ut mönstret nedan.
 Exempel när n = 5:
 x x x x x 
x o x o x 
x x x x x 
x o x o x 
x x x x x 
"""
def mönster(n):
    for i in range(n):
        rad = ""
        for j in range(n):
            if i % 2 == 1 and j % 2 == 1:
                rad += "o "
            else:
                rad += "x "
        print(rad)

mönster(5)

x x x x x
x o x o x
x x x x x
x o x o x
x x x x x